/* import font chữ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* tạo biến: màu sắc, font chữ */
:root {
    --color-general: #43AD8A;               /* màu chính của trang web */
    --color-sub: #CCF4E7;
    --font-general: "Roboto", sans-serif;     /* font chữ sử dụng */


    --color-hover-active: #298163;

    /* white mode */
    --w-color-primary:#08080A;
    --w-color-secondary: #5B5B60;
    --w-color-third: #F2F4F7; /* có dùng đừng xóa*/


    --w-color-hover-primary: #E4E6E9; /* có dùng ở border ngang menu */

    /* black mode */
    /* chưa có */


    /* 
        #7A92DF: màu hover vào chữ
    */
}

/* ------------------------------------------------------------------ */
/* --------------------- SET GIÁ TRỊ MẶC ĐỊNH CHO WEB --------------- */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--w-color-third);
    font-family: var(--font-general);
    margin: 0px
}
/* ----------------- HẾT SET GIÁ TRỊ MẶC ĐỊNH CHO WEB --------------- */
/* ------------------------------------------------------------------ */

/* container */
.container {
    width: 1180px;
    margin: 0px auto;
}
/* hết container */

/* wrap */
.wrap {
    display: flex;
    gap: 10px;
}
/* hết wrap */

/* menu */
.menu {
    width: 250px;
}

.menu--main {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: var(--w-color-third);
    padding: 10px 5px;
}

.menu--logo {
    text-decoration: none;
    padding: 10px 12px;
    display: inline-block;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu--logo span {
    font-size: 48px;
    font-weight: 700;
    color: black
}

.menu--logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu--list {
    /* reset thẻ ul li */
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu--list .menu--item {
    padding: 10px 12px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.menu--list .menu--item a {
    /* margin-left: 5px; */
    text-decoration: none;
    color: var(--w-color-primary);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu--list .menu--item a i {
    /* margin-right: 8px; */
}

.menu--main .menu--collapse {
    font-size: 18px;
    cursor: pointer;
    padding: 10px 12px;
    margin-bottom: 10px;
    border-radius: 6px;

    border-top: 1px solid var(--w-color-hover-primary);
}

.menu--list .menu--item:hover, .menu--main .menu--collapse:hover, .menu--list .menu--item:hover a {
    background-color: var(--w-color-hover-primary);
    color: #148C4C;
    cursor: pointer;
}

/* .menu--list .menu--item */
/* hết menu */

/* content */
.content {
    flex: 1;
    margin-right: 10px;
}

.content .content--wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content--header {
    /*  */
    margin: 10px 5px 0px 0px;
    padding: 12px 8px;
    border-radius: 10px;

    /* style */
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content--body {
    /*  */
    margin: 5px 5px 0px 0px;
    padding: 20px;
    border-radius: 8px;
    /* height: 80vh; */
    height: 100%;
    
    /* style */
    background-color: white;
}

.content--body .content--body-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* hết content */

/* form search */
.form--search {
    width: 500px;
    display: flex;
    align-items: center;
    border: 1px solid var(--w-color-secondary);
    border-radius: 6px;
    overflow: hidden;
    padding: 0px 5px;
    height: 36px;
}

.form--search input {
    order: 1;
    flex: 1;
    border: 0px;
    outline: none;
    padding: 6px 8px;
    font-size: 16px;
}

.form--search button {
    font-size: 16px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.form--search:focus {
    border: 1px solid var(--color-general);
}
/* hết form search */


/* box title */
.box-title {
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0px 20px 0px;   /* trên dưới, trái phải*/
    text-transform: uppercase; /* chuyển chữ sang in hoa hết*/

}
/* hết box title */


/* button */
.button {
    padding: 8px 10px;
    border-radius: 6px;
}

.button-green {
    border: 0px;
    cursor: pointer;
    background-color: var(--color-general);
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.button-green:hover {
    /* color: var(--color-general); */
    color: #148C4C;
    background-color: var(--color-sub);
    border: 1px solid var(--color-general);
    transition: ease-in-out 1s;
}

.button-green i {
    font-weight: 400;
}
/* hết button */

/* form thêm người dùng mới  */
.form-add {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-add .form-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-add .form-item label {
    font-size: 18px;
    font-weight: 600; 
}

.form-add .form-item label i {
    margin-right: 5px;
}

.form-add .form-item input {
    height: 36px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--w-color-secondary);
    padding: 6px 8px;
}

.form-add .form-item input[readonly] {
    background-color: #f0f0f0; /* Màu nền xám nhạt */
    border: 1px solid #ccc; /* Viền xám */
    cursor: not-allowed; /* Biểu tượng con trỏ "không cho phép" */
}

.form-add .form-item .finger {
    width: 80px;
    height: 80px;
}

.form-add .form-item .finger img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* form thêm người dùng mới  */

/* người quản lý */
.manager {
    display: flex;
    align-items: center;
    gap: 10px;
}

.manager--name {
    cursor: pointer;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}

.manager--image {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.manager--image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* hết người quản lý */

.test {
    display: flex;
    gap: 20px;
    padding: 20px;
}